@model IEnumerable<Cuidado.Models.Application>

@{
	ViewData["Title"] = "Aplicaþ§es";
}

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="Shifts">Buscar Turnos</a>
</p>
<div class="mb-5">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Shift)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Shift.StartTime)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Shift.EndTime)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Message)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AppliedAt)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Shift.Institution.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Shift.StartTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Shift.EndTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Message)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AppliedAt)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div>
	<a asp-controller="Caregiver" asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
</div>