@model Cuidado.Models.Elderly

@{
	ViewData["Titulo"] = "Idoso";
}

<h1>@ViewData["Titulo"]</h1>

<div>
	<h4>Dados - <a asp-action="Index">Voltar para lista</a></h4>
	<hr />
	<dl class="row">
		<dt>
			@Html.DisplayNameFor(Model => Model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(Model => Model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(Model => Model.BirthDate)
		</dt>
		<dd>
			@Html.DisplayFor(Model => Model.BirthDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(Model => Model.Gender)
		</dt>
		<dd>
			@Html.DisplayFor(Model => Model.Gender)
		</dd>
		<dt>
			@Html.DisplayNameFor(Model => Model.Condition)
		</dt>
		<dd>
			@Html.DisplayFor(Model => Model.Condition)
		</dd>
		<dt>
			@Html.DisplayNameFor(Model => Model.Notes)
		</dt>
		<dd>
			@Html.DisplayFor(Model => Model.Notes)
		</dd>
	</dl>
</div>
<div class="mb-5">
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
	<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Deletar</a>
</div>
